:root {
  --background-color: beige;
  --gap: 2rem;
}
body {
  background-color: var(--background-color);
  box-sizing: border-box;
  margin: 0;
}
.header {
  font-family: "Knewave", system-ui;
  font-style: normal;
  font-size: 44px;
  border-bottom: 1px solid;
}
.content {
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  gap: var(--gap);
}
.cafeDiv {
  border-bottom: 0.1px solid gray;
  margin-bottom: var(--gap);
}
@media (min-width: 1024px) {
  body {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
  }
  .section {
    grid-column: 2;
    min-width: 80vw;
    justify-items: center;
  }
  .carousel {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    justify-self: center;
  }
  img {
    max-height: 300px;
    opacity: 90%;
  }
  .imageOne {
    grid-column: 1;
    max-width: 300px;
  }
  .imageTwo {
    grid-column: 3;
    z-index: 1;
    opacity: 100%;
  }
  .imageThree {
    grid-row: 3;
    grid-column: 2;
  }
  .imageFour {
    grid-column: 4;
    grid-row: 3;
  }
  .imageFive {
    grid-column: 5;
    z-index: -1;
  }
  .imageSix {
    grid-column: 1;
  }
  .imageSeven {
    grid-column: 5;
    grid-row: 3;
    justify-self: end;
    z-index: -1;
  }
  .index {
    grid-column: 3;
    display: flex;
    flex-flow: column;
    gap: 0;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
@media (max-width: 1025px) {
  .carousel {
    display: flex;
    overflow: auto;
  }
  img {
    width: 300px;
    height: 300px;
  }
  body {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
  }
  .section {
    width: 80vw;
    grid-column: 2;
  }
  .description {
    text-align: justify;
  }
}
